<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="navbar" class="navbar nav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a th:href="@{/}" class="vert-align">
            <img src="/images/logoPerfumeWaterColor.jpeg" class="logo"></span>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
           onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">


                    <!--working to show the list of sold perfumes under Perfumes navBar
                    @author: Fardin
                    @since 2025-11-05
                    -->


                    <div class="navbar-item has-dropdown is-hoverable">
                        <a th:href="@{/report/records}" class="navbar-link"> Perfume Sale Transactions</a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/report/records}" class="navbar-item">All records</a>
                            <hr class="navbar-divider">
                        </div>
                    </div>








            <!--Reports Menu-->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/report}" href="/about" class=" navbar-link">Reports</a>
                    <div class="navbar-dropdown">


                        <!--Added my dropdown report list-->


                        <a th:href="@{/report/perfume/choice}" class="navbar-item"
                           th:text="#{label.report.perfume.choice.report}">Perfume Choice Report</a>


                        <hr class="navbar-divider">
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a th:href="@{/about}" href="/about" class=" navbar-link">Other</a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/about}" href="/about" class="navbar-item">About</a>
                            <hr class="navbar-divider">
                            <a th:href="@{/pirate}" href="/pirate" class="navbar-item">Pirate</a>
                            <hr class="navbar-divider">
                        </div>
                    </div>
                </div>

        </div>
    </div>
</nav>
</body>
</html>